// Импортируем модули sass и определяем переменные
@use 'sass:color';

// Определяем цветовую схему темы
$theme-color: #4b6a78;
$text-color: #3f4650;
$text-color-secondary: #545e6c;
$text-grey: #97aac3;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #f5f5f5;
$heart: #fb866a;

// Передаем переменные в файлы модулей
@forward 'theme/mixins';

// Подключаем модули темы с переменными
@use 'theme/base' with (
    $theme-color: $theme-color,
    $text-color: $text-color,
    $text-color-secondary: $text-color-secondary,
    $text-grey: $text-grey,
    $divider: $divider,
    $lighter-grey: $lighter-grey,
    $darker-grey: $darker-grey,
    $smoky-white: $smoky-white,
    $heart: $heart
);
@use 'theme/responsive';

// Подключаем внешние CSS стили
@import './vendors/bootstrap.min.css';

// Language control styles
.ru {
    display: none;
}

.lang-container {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 1010;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        width: 36px;
        height: 34px;
        text-align: center;
        color: rgb(255, 255, 255);
        background-color: rgb(38, 54, 61);
        border-radius: 50%;
        margin-bottom: 5px;
        margin-right: 0;

        &:hover {
            color: rgb(255, 255, 255);
            background-color: rgb(83, 116, 131);
        }
    }
}

.russian.active,
.english.active {
    background-color: $theme-color;
    color: white;
}

// Дополнительные стили для мобильной версии
@media (max-width: 767.98px) {
    .lang-container {
        top: 15px;
        right: 15px;
        transform: none;
        flex-direction: row;

        button {
            margin-bottom: 0;
            margin-left: 5px;
        }
    }

    .summary-section {
        padding-top: 40px;
    }
}
